
body {
    background-color: #1f2937;
    color: white;
    margin: 0;
}

.pic1 {
    width: 500px;
    height: auto;
    margin-left: 40px;
    border: 0;
}

.pic {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    
}

header {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.logo {
    font-size: 24px;
    color: #f9FAF8;
    margin-left: 66px;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px;
    margin: 0;
}

.text {
    color: black;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-right: 40px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    margin: 0 40px;
}
.right {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin-left: 40px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
}

.up {
    height: 30px;
    background-color: #3882F6;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 2px solid #1f2937;
    width: 90px;
    border-radius: 9px;
}

.head {
    color: black;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: black;
    padding: 50px;
}

.it {
    font-style: italic;
    font-size: 26px;
    color: #1f2937;
    padding: 30px 50px 0 50px;
    margin-bottom: 0;
}

.name {
    margin-left: 70%;
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 20px;
    text-align: center;
}

.end {
    padding: 50px;
    background-color: white;
}

.inner {
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 9px;
}

.im {
    border: 3px solid blue;
    border-radius: 9px;
    width: 96%;
}

.sign {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 25px;
    align-self: center;
    border: 2px solid white;
}

footer {
    text-align: center;
    padding: 15px;
}